<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register page</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="./css/custom.css">
</head>
<body>
    <div id="main" class="main">
        <section id="left" class="left">
            <h2>Logo Design</h2>
        </section>
        <section id="right" class="right">
            <div class="top">
                <div class="mini-main-register">
                    <span class="login"><a href="./login.html">Login</a></span>
                    <span class="register"><a href="#">Register</a></span>
                </div>
            </div>
            <div class="bottom">
                <div class="form">
                    <h2>Register</h2>
                    <form action="#">
                        <input type="text" name="email" placeholder="Email" id="email">
                        <input type="text" name="fullname" placeholder="Full Name" id="fullname">
                        <input type="password" name="password" placeholder="Password" id="password">
                        <input type="password" name="retypePassword" placeholder="Retype Password" id="retypePassword">
                        <div class="btn-group">
                            <input type="button" value="Register" id="login" class="btn">
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</body>
</html>